<div class="row">
  <div class="card-body">
    <h1 class="text-center">Alterar senha</h1>
  </div>
</div>
<hr><br>

<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= form_tag({controller: "auth", action: "redefine"}, method: "post") do %>
        <div class="form-group">
          <%= label_tag :password, 'Nova senha' %>
          <%= password_field :firefighter, :password, :class => 'form-control' %>
        </div>
        <%= submit_tag("Alterar", :class => "btn btn-primary") %>
      <% end %>
    </div>
  <div class="col-sm-2"></div>
</div>
