<div class="row">
  <div class="card-body">
    <h1 class="text-center">Entrar no Sitema</h1>
  </div>
</div>
<hr><br>

<div class="row">
	<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<form>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Código de Matrícula</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dig cód de matrícula">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Senha</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	<div class="col-sm-2"></div>
</div>