<div class="row">
  <div class="card-body">
    <h1 class="text-center">Bombeiros de São Francisco de Paula</h1>
  </div>
</div>
<hr><br>

<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8 text-justify">
      <p>O primeiro serviço oficial de combate a incêndios de Porto Alegre data de 1895, com a criação do Corpo de Bombeiros de Porto Alegre, tendo como seu primeiro Comandante o Sr. Norberto Garrido da Silva, nascido em 4 de abril de 1843, em Portugal e falecido em 8 de maio de 1911, conforme notícia do Jornal A Federação, em Porto Alegre, aos 68 anos, tendo sido velado na Loja Maçônica Regeneração, a qual pertenceu.</p>

      <p>A 1ª Seção de Incêndio, em Porto Alegre, localizava-se na Rua Jerônimo Coelho, tendo como seu 1º comandante, Joaquim Garrido da Silva, filho de Norberto Garrido da Silva.</p>

      <p>Já a 2ª Seção de Incêndio, localizava-se na Praça Rui Barbosa, em Porto Alegre, tendo como comandante Antônio Garrido da Silva, também filho de Norberto Garrido da Silva.</p>

      <p>Em 27 de junho de 1935, o General Flores da Cunha, Interventor do Estado, assinou um decreto transferindo o Corpo de Bombeiros Particular de Porto Alegre para a Brigada Militar.</p>

      <p>Ao longo dos anos a Corporação passou por diversas modificações até atingir o estágio atual, uma instituição especializada da Brigada Militar voltada para a Defesa Civil do Estado.</p>

      <p>No dia 17 de junho de 2014, a Assembleia Legislativa votou em segundo turno o Projeto de Emenda à Constituição – PEC 232/14, que visava a Desvinculação do Corpo de Bombeiros da Brigada Militar. Este dia memorável, ficará na lembrança de todos aqueles que são verdadeiramente bombeiros e pensam no bem maior da população gaúcha.</p>

      </p>Dos 50 deputados presentes, 49 foram a favor da proposta apresentada pelo Executivo que fora anteriormente fomentada pelo Deputado Pedro Pereira. Esta conquista, iniciada em 1935, passou por diversos momentos na história e com certeza muitas vozes uniram-se para alcançar este objetivo.</p>

      <p>A partir de agora o povo gaúcho, conta com seu próprio CORPO DE BOMBEIROS MILITAR, com independência total.</p>

    </div>
  <div class="col-sm-2"></div>
</div>
