/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


 html, body {
  height:100%;
  background-image: url("./images/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}

 .container {
    min-height:100%;
    position:relative;
}

.card-footer {
    position: relative;
    bottom:0;
    width:100%;
}

// menu iniciar - nav bar vermelho
.bg-light { 
    background-color: #cc2409!important;
}

//letras amarelas links
.navbar-light .navbar-nav .nav-link { 
    color: #f5e205; 
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #f5e205;
    font-weight: bold;
}

//sobras h1,h2.. titulos
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 1px 1px 1px #ffc107;
    color: inherit;
}

.card-footer { // fotter - rodapé
    padding: 0.75rem 1.25rem;
    background-color: #cc2409;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    color: #f5e205;
    font-weight: bold;
}
