<div class="card-group">
  <div class="card-body">
    <p class="card-text">Corpo de bombeiros de São Francisco de Paula - RS</p>
  </div>

  <div class="card-body">
    <p class="card-text">Todos os direitos reservados - 2018</p>
  </div>
</div>